/* RESETTING STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: black;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  color: aquamarine;
  font-size: 16px;
}

/* SECTION-1 */
.section-1 h1 {
  color: white;
  font-weight: normal;
  font-size: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}



/* SECTION-2 */
video {
  margin-top: 30px;
  padding-bottom: 32px;
}

/* SECTION-3 */
.section-3 h2 {
  color: white;
  font-weight: 300;
  font-size: 42px;
  padding-bottom: 30px;
}

.section-3 h4{
  color: gray;
  font-size: 21px;
  padding-bottom: 22px;
}

.section-3 img{
  max-width: 100%;
  height: auto;
}

.section-4 h5{
  color: gray;
  text-align: right;
  padding-bottom: 10px;
  font-size: 20px;
}

.section-4 h4{
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size:30px;
}

.section-4 img{
  padding-top: 20px;
}